<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your Property</h3>
      </div>
      <div class="card-body">
    <form (ngSubmit)='onSubmit()' #Form="ngForm">
      <div class="tab-panel">
        <tabset class="member-tabset" #formTabs>
          <tab heading="Basic Info" ngModelGroup="BasicInfo" #BasicInfo="ngModelGroup">
            <div class="form-group col-12">
              <p>I want to</p>
              <div class="btn-group" btnRadioGroup ngModel name="SellRent" required>
                <label class="btn btn-outline-primary mr-2" btnRadio=1 role="button" name="sellRent">Sell</label>
                <label class="btn btn-outline-primary" btnRadio=2 role="button" name="sellRent">Rent</label>
              </div>
            </div>
            
            <div class="form-group col-12">
              <p>BHK</p>
              <div class="btn-group" btnRadioGroup name="bhk" [(ngModel)]="propertyView.BHK">
                <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-primary mr-2" [btnRadio]="bhk" role="button" name="sellRent">{{bhk}}</label>
              </div>
            </div>
            
            <div class="form-group col-12">
              <p>Property Type</p>
              <div class="btn-group" btnRadioGroup name='propType' [(ngModel)]="propertyView.PType">
                <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary mr-2" [btnRadio]="ptype" role="button" name="sellRent">{{ptype}}</label>
              </div>
            </div>

            <div class="form-group col-12">
              <p>Furnishing Type</p>
              <div class="btn-group" btnRadioGroup name="furType" [(ngModel)]="propertyView.FType">
                <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary mr-2" [btnRadio]="ftype" role="button" name="sellRent">{{ftype}}</label>
              </div>
            </div>

            <div class="form-group col-12">
              <label>House Name / Area Name</label>
              <input type="text" class="form-control"
              #propName="ngModel"
              ngModel name="Name"
              required
              minlength="5"
              [(ngModel)]="propertyView.Name">
              <span *ngIf="!propName.valid && propName.touched" class="error-block">
                <span *ngIf="propName.errors.required">Please provide name</span>
                <span *ngIf="propName.errors.minlength">Name must be atleast 5 char long</span>
              </span>
            </div>

            <!-- <div class="form-group col-12">
              <label>City</label>
              <input type="text" class="form-control">
            </div> -->

            <div class="form-group col-12">
                <button type="button" class="btn btn-primary btn-block"
                (click)="selectTab(1)" [disabled]="!BasicInfo.valid">Next</button>
            </div>
          </tab>

          <tab heading="Pricing and Size">
              <div class="form-group col-12">
                <label>Price (in NOK)</label>
                <input type="text" class="form-control" name="price" [(ngModel)]="propertyView.Price">
              </div>

              <div class="form-group col-12">
                <label>Deposit fee (in NOK)</label>
                <input type="text" class="form-control">
              </div>

              <div class="form-group col-12">
                <label>Maintenance fee (in NOK)</label>
                <input type="text" class="form-control">
              </div>
              
              <div class="form-group col-12">
                <label>Gross Area (in cubicmeter)</label>
                <input type="text" class="form-control" name="grossArea" [(ngModel)]="propertyView.GrossArea">
              </div>

              <div class="form-group col-12">
                <label>Net Area (in cubicmeter)</label>
                <input type="text" class="form-control">
              </div>

              <div class="form-group col-12">
                <button type="button" class="btn btn-primary btn-block"
                (click)="selectTab(2)">Next</button>

                <button type="button" class="btn btn-primary btn-block"
                (click)="selectTab(0)">Back</button>
              </div>
          </tab>

          <tab heading="Address">

            <div class="form-group col-12">
              <label>Address</label>
              <input type="text" class="form-control">
            </div>
            
            <div class="form-group col-12">
              <label>Zipcode</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12">
              <label>City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="propertyView.City">
            </div>

            <div class="form-group col-12">
              <label>Total Floor</label>
              <input type="text" class="form-control">
            </div>

              <div class="form-group col-12">
                <button type="button" class="btn btn-primary btn-block"
                (click)="selectTab(3)">Next</button>

                <button type="button" class="btn btn-primary btn-block"
                (click)="selectTab(1)">Back</button>
              </div>
          </tab>

          <tab heading="Other Details">
            
            <div class="form-group col-12">
              <p>Ready to Move</p>
              <div class="btn-group" btnRadioGroup name="RTM" [(ngModel)]="propertyView.RTM">
                <label *ngFor="let RTM of ['Yes', 'No']" class="btn btn-outline-primary mr-2" [btnRadio]="RTM" role="button" name="sellRent">{{RTM}}</label>
              </div>
            </div>

            <div class="form-group col-3">
              <label>Possession/Avaialble From</label>
              <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue'}">
            </div>

            <div class="form-group col-12">
              <label>Age of Property</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12">
              <p>Gated Community</p>
              <div class="btn-group" btnRadioGroup>
                <label *ngFor="let gc of ['Yes', 'No']" class="btn btn-outline-primary mr-2" [btnRadio]="gc" role="button" name="sellRent">{{gc}}</label>
              </div>
            </div>

            <div class="form-group col-12">
              <p>Main Entrance</p>
              <div class="btn-group" btnRadioGroup>
                <label *ngFor="let maine of ['East', 'West', 'South', 'North']" class="btn btn-outline-primary mr-2" [btnRadio]="maine" role="button" name="sellRent">{{maine}}</label>
              </div>
            </div>

            <div class="form-group col-12">
              <label>Description</label>
              <textarea type="text" class="form-control" rows="6"></textarea>
            </div>

            <div class="form-group col-12">
                <button type="button" class="btn btn-primary btn-block"
                (click)="selectTab(4)">Next</button>

                <button type="button" class="btn btn-primary btn-block"
                (click)="selectTab(2)">Back</button>
            </div>
          </tab>

          <tab heading="Photos">
            <div class="form-group col-12">
              <div class="photo-control">
                  <button class="mt-5" type="button">Upload</button> <br>
                  This is under construction
              </div>
            </div>
            <div class="form-group col-12">
              <button type="button" class="btn btn-primary btn-block"
              (click)="selectTab(3)">Back</button>

              <button type="reset" class="btn btn-primary btn-block"
              (click)="selectTab(3)">Cancel</button>
              <button type="submit" class="btn btn-primary btn-block"
              (click)="selectTab(3)">Save</button>
            </div>
          </tab>
        </tabset>
      </div>
    </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your Property Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
    </div>
  </div>
</div>